.btn-face {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-face:hover {
  background-color: rgb(131, 169, 224) !important;
}

.btn-twit {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-twit:hover {
  background-color: rgb(131, 169, 224) !important;
}

.btn-google {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-google:hover {
  background-color: rgb(131, 169, 224) !important;
}